.App {
  justify-content: center;
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.btn {
  background: #2c7a52;
  padding: 10px;
  color: white;
  border: none;
  border-radius: 5px;
}
